<head>
<script type="text/javascript">
    function operation()
    {	

    }
</script>
</head>
<h1>xeno pc방 happy everyday</h1>
<%= select_date Date.today, prefix: :start_date %> <%= select_date Date.today, prefix: :start_date %>  <input type="button" id="search" value="search" style=" background-color:#FFFFFF;" action=DecrecordsHelper.dec_search(@decrecords) method="post" onclick="operation();"/>
<hr />
<% @decrecords.each do |decrecord| %>
  <h2><%= decrecord.title %></h2>
  <p>
  <%= decrecord.body %>
  <tr>
        <td><%= decrecord.time %></td>
        <td><%= decrecord.pc_num %></td>
      
      </tr>
  </p>
<% end %>
<hr />
<%= paginate @decrecords %>
<%= page_entries_info @decrecords %>

