<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @decrecord.time %>
</p>

<p>
  <strong>Pc num:</strong>
  <%= @decrecord.pc_num %>
</p>

<%= link_to 'Edit', edit_decrecord_path(@decrecord) %> |
<%= link_to 'Back', decrecords_path %>
