<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @decpcbar.name %>
</p>

<p>
  <strong>Ip sart:</strong>
  <%= @decpcbar.ip_sart %>
</p>

<p>
  <strong>Ip num:</strong>
  <%= @decpcbar.ip_num %>
</p>

<%= link_to 'Edit', edit_decpcbar_path(@decpcbar) %> |
<%= link_to 'Back', decpcbars_path %>
