<!DOCTYPE html>
<html>
  <head>
    <title>Pcbardec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <div id=“sidebar”>
      <ul>
        <li class=“category”>Websit</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>

  <ul>
    <li class=“category”>Social</li>
    <li><a redirect_to “http://biorobotics.hanyang.ac.kr” >HYU Biorobotics Lab</a></li>
    <li><a href=“https://”>Twitter</a></li>
    <li><a href=“https://”></a></li>
  </ul>
</div>
    <%= yield %>
  </body>
</html>
