<!DOCTYPE html>
<html>
  <head>
    <title>Pcbardec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <div id=“sidebar”>
      <ul>
        <li class=“category”>Websit</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>

  <ul>
    <li class=“category”>Social</li>
    <li><a href=“http://biorobotics.hanyang.ac.kr” >HYU Biorobotics Lab</a></li>
    <li><a href=“https://github.com/zhaoruinan”>github</a></li>    
    <li><a href=“https://twitter.com/ZRuinan”>Twitter</a></li>
    <li><a href=“https://www.facebook.com/frank.zhao.961”>Facebook</a></li>
    <li><a href=“https://weibo.com/u/1245076851?refer_flag=1005055010_”>微博</a></li>
    <li><a href=“z_ruinan@hotmail.com”>email</a></li>
  </ul>
</div>
    <%= yield %>
  </body>
</html>
